@model IEnumerable<SHUBooks.Models.OrderHistory>

    @{
        ViewBag.Title = "SalesHistory";
    }

    <h2>Sales History</h2>

    <p>
        @*@Html.ActionLink("Create New", "Create")*@
    </p>
    <div class="panel panel-default">
        <div class="panel-heading">My Sales Hitory:</div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ISBN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Picture)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in (IEnumerable<SHUBooks.Models.OrderHistory>)ViewBag.PHistory)
        {
        <tr>
            <td>
                @item.Author
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @item.ISBN
            </td>
            <td>
                @Html.Image("Picture", item.Picture, htmlAttributes: new { @width = "50", @height = "50" })
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Quantity
            </td>
            @if (item.Status == 0)
                {
                <td>
                    @Html.Label("Unpaid")
                </td>
                <td>
                    @Html.ActionLink("Confirm Pay", "ConfirmPayment", new { id = item.OrderId }, htmlAttributes: new { @class = "btn btn-info", @role = "buttons" })
                    @Html.ActionLink("Details", "ViewUserBook", new { BookId = item.BookId }, htmlAttributes: new { @class = "btn btn-info", @role = "buttons" })
                </td>
                }
                else
                {
                <td>@Html.Label("Paid")</td>
                <td>
                    @Html.ActionLink("Details", "ViewUserBook", new { BookId = item.BookId }, htmlAttributes: new { @class = "btn btn-info", @role = "buttons" })
                </td>
                }
        </tr>
        }

            </table>
        </div>
    </div>
             @section Scripts{

                <script>

        //$(function () {

        //    $('a[href*=Confirm]').click(function () {

        //        //var prompt = confirm("Are You sure")
        //        //if (prompt == true) {

        //        $.ajax({

        //            type: "GET",
        //            url: $(this).attr("href"),
        //        }).success(function (data) {
        //            $("#Status").text("Paid");
        //        }).error(function (data) {

        //            alert(data);
        //        })
        //    })
        //        return false;
        //})
                </script>

            }
